/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

#family-tree-svg {
    background-color: slategrey;
}

.node rect {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    cursor: pointer;
    font: 12px sans-serif;
}

.node .subtext {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

samp {
    white-space: pre;
}

.noselect * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

// Leaflet map

.map-container {
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

#map {
    height: 100%;
}

.leaflet-pane.leaflet-shadow-pane {
    display: none;
}